<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout
           </ion-button>
   
    </ion-buttons>
  </ion-toolbar>
</ion-header>

 

<ion-content>
 <ion-split-pane contentId="main-content">
   <ion-menu contentId="main-content" type="overlay">
     <ion-content>
       <ion-list id="inbox-list">
         <ion-list-header>mocktest</ion-list-header>
         <!-- <ion-note>mocktest</ion-note> -->
         <div *ngIf="userRole=='admin'">
           <ion-menu-toggle auto-hide="false" *ngFor="let p of adminPages; let i = index">
             <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
               <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
               <ion-label>{{ p.title }}</ion-label>
             </ion-item>
           </ion-menu-toggle>
         </div>
         <div *ngIf="userRole=='user'">
           <ion-menu-toggle auto-hide="false" *ngFor="let p of userPages; let i = index">
             <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
               <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
               <ion-label>{{ p.title }}</ion-label>
             </ion-item>
           </ion-menu-toggle>
         </div>
       </ion-list>
     </ion-content>
   </ion-menu>
  
   <ion-router-outlet id="main-content"></ion-router-outlet>
  
 </ion-split-pane>
 <div class="ion-text-center"> <h2><b>welcome {{userInfo?.name}}</b></h2> </div>
</ion-content> 




