<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
     <p>FirstName  : {{data?.firstName}} </p>
     <p>LastName   : {{data?.lastName}}</p>
    <p> Email      : {{data?.email}}</p>
     <p>RegisterId : {{data?.id}}</p>
    
    </ion-card-content>
    </ion-card>
    </ion-content>
    <!-- <ion-content class="ion-text-center">
      <ion-button [routerLink]="['/attended-exams']">
       
       create
      </ion-button>
      
</ion-content> -->
