	
	// table { 
	// 	width: 90%; 
    //     border-collapse: collapse; 
    //     text-align:center;
	// }
	// /* Zebra striping */
	// tr:nth-of-type(odd) { 
    //     background: #eee; 
        
	// }
	th { 
		padding: 15px;
		background: rgb(103, 152, 226); 
		color: white; 
		font-weight: bold; 
	}
	
	  td.mat-cell {
		/* row padding */
		padding: 5px 5px;
		
	   }
	 
	   

	   
