<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
     
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding="true">

  <!-- <ion-button  color="secondary"  (click)="users()">dispalyuser</ion-button> -->
  <!-- welcome {{username}}
  <ion-input type="text" [(ngModel)]="username" (change)="print($event)" [ngModelOptions]="{standalone: true}" required></ion-input> -->
 
 
  <form>
   
    <div class="ion-text-center">
    <h4 >Insert your credentials </h4>
    <ion-list>
    <ion-item >
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text"  [(ngModel)]="postData.username" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="postData.password" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
   
    </ion-list>
    
        <ion-button color="success" share="round" expand="block"  (click)="loginAction()">Log In</ion-button>
       
       <p> <a  routerLink='/'>Forgot Password?</a> </p>
     
       <p ><a  routerLink='/signup'>Create Account..!</a></p>
     
  </div>
  </form>



  
<!-- <router-outlet></router-outlet> --> 



</ion-content>


