<ion-header>
  <ion-toolbar color="primary">
  <ion-title>Registration</ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-content padding='true'>
    <div class="ion-text-center">
  <h1>Create Account</h1></div>
  <form>
    
  <ion-list>
  <ion-item>
   
  <ion-label position="floating">Email</ion-label>
  <ion-input autocomplete="off" type="email"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="floating">Username</ion-label>
  <ion-input autocomplete="off" type="text"></ion-input>
  </ion-item>
  
  <ion-item>
  <ion-label position="floating">Password</ion-label>
  <ion-input autocomplete="off" type="password"></ion-input>
  </ion-item>
  </ion-list>
  <ion-button expand="block" share="round" color="success">Register</ion-button>
  
  
    <div class="ion-text-center">
   <p> Already have an account? <a routerLink='/login'>Sign in.</a></p>
  </div>
    
    
  </form>
  </ion-content>