<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="medium">
    <ion-card-content>
     <h3>FirstName  :<ion-text style="text-transform: capitalize;">{{data?.firstName}} </ion-text></h3>
      
     <h3>LastName   :<ion-text style="text-transform: capitalize;"> {{data?.lastName}}</ion-text></h3>
    <h3> Email      : {{data?.email}} </h3>
     <h3>RegisterId : {{data?.id}}</h3>
    
    </ion-card-content>
    </ion-card>
    </ion-content>
